@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'FontHeader';
    src: url('/src/assets/fontheader.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: "Fontspring";
    src: url("/src/assets/fontspring.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  
  @font-face {
    font-family: 'BlackthornsBlack';
    src: url('/src/assets/blackthorns-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  
.manrope-font {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.sharp-green-separator {
  width: 100%;
  height: 8px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #00a878 45%,
    #00a878 55%,
    transparent 100%
  );
}