@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: sans-serif;
}
/* 
@font-face {
  font-family: "FontHeader";
  src: url("/src/assets/fontheader.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fontspring";
  src: url("/src/assets/fontspring.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: "BlackthornsBlack";
  src: url("/src/assets/blackthorns-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.sharp-green-separator {
  width: 100%;
  height: 8px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #00a878 45%,
    #00a878 55%,
    transparent 100%
  );
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-reverse {
  animation: marquee-reverse 25s linear infinite;
}

.animate-marquee {
  animation: marquee 5s linear infinite;
}

.border-image-bottom {
  border-image: linear-gradient(to bottom, transparent, #3fb185, transparent) 1;
  border-image-slice: 1;
}
.border-image-right {
  border-image: linear-gradient(to right, transparent, #3fb185, transparent) 1;
  border-image-slice: 1;
}
.border-image-left {
  border-image: linear-gradient(to left, transparent, #3fb185, transparent) 1;
  border-image-slice: 1;
}
